---
- name: Check if OS is Ubuntu LTS
  fail: msg="Server must be Ubuntu LTS"
  when: ansible_distribution != 'Ubuntu'
    or (ansible_distribution_version != '14.04'
      and ansible_distribution_version != '16.04'
      and ansible_distribution_version != '18.04')

- name: Add ondrej repo to allow multiple PHP versions
  apt_repository:
    repo: "ppa:ondrej/php"
    update_cache: yes

- name: Include php version specific playbook
  include_tasks: "php{{ item }}.yml"
  with_items: "{{ php_versions }}"
  when: php_versions is defined

- name: Check for existence of /etc/acro/add-website.conf
  stat: path=/etc/acro/add-website.conf.php{{ php_default_version }}
  register: add_website_conf
  tags:
    - acroutils

- name: Set default PHP version to {{ php_default_version }} (acro-add-website.sh)
  file:
    state: link
    src: /etc/acro/add-website.conf.php{{ php_default_version }}
    dest: /etc/acro/add-website.conf
  when: add_website_conf is defined
    and add_website_conf.stat is defined
    and add_website_conf.stat.exists == true
  tags:
    - acroutils

- name: Get default PHP version
  shell: /usr/bin/php -v | grep 'PHP '
  register: php_installed_default_version
  failed_when: false
  changed_when: false

- name: Set default PHP version to 5.6 (PHP CLI)
  shell: update-alternatives --set php /usr/bin/php{{ php_default_version }}
  when: php_default_version == 5.6
    and php_installed_default_version is defined
    and php_installed_default_version.stdout is defined
    and (not php_installed_default_version.stdout | search("PHP 5.6"))

- name: Set default PHP version to 7.0 (PHP CLI)
  shell: update-alternatives --set php /usr/bin/php{{ php_default_version }}
  when: php_default_version == 7.0
    and php_installed_default_version is defined
    and php_installed_default_version.stdout is defined
    and (not php_installed_default_version.stdout | search("PHP 7.0"))

- name: Set default PHP version to 7.1 (PHP CLI)
  shell: update-alternatives --set php /usr/bin/php{{ php_default_version }}
  when: php_default_version == 7.1
    and php_installed_default_version is defined
    and php_installed_default_version.stdout is defined
    and (not php_installed_default_version.stdout | search("PHP 7.1"))

- name: Set default PHP version to 7.2 (PHP CLI)
  shell: update-alternatives --set php /usr/bin/php{{ php_default_version }}
  when: php_default_version == 7.2
    and php_installed_default_version is defined
    and php_installed_default_version.stdout is defined
    and (not php_installed_default_version.stdout | search("PHP 7.2"))

- name: Set default PHP version to 7.3 (PHP CLI)
  shell: update-alternatives --set php /usr/bin/php{{ php_default_version }}
  when: php_default_version == 7.3
    and php_installed_default_version is defined
    and php_installed_default_version.stdout is defined
    and (not php_installed_default_version.stdout | search("PHP 7.3"))

